.section.cards-container > div:first-child > p{
  width: 63%;
  margin: auto;
  font-family: calibri;
  font-size: 1.2rem;
color: #686868;
text-align: center;
}

.section.cards-container > div:nth-child(5) > p{
  text-align: center;
  
  margin: auto;
}

.section.cards-container > div:last-child > p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.0rem;
    font-weight: 600;
    font-family: Calibri-Bold;
    padding-left: 150px;
}

.cards{
  width:2100px;
}

.cards.prom > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap:16px

}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: #eee;
  width: 450px;
  
}

.cards.prom > ul > li > div:first-child {
 height: 55px;
} 

.cards.prom > ul > li > div:nth-child(3) > p > a.button:any-link {
  margin-bottom: 0px;
  margin-right: 15px;
  margin-top: 50px;
}

.cards.prom > ul > li > div:nth-child(3) {
  display: grid;
  text-align: left;
  margin-bottom: 0px;
  height: 150px;
}


/* 
.cards > ul > li > div:nth-child(3) > p {
  width: 12em;
  margin-right: 1px;
  padding-left: 25px;
  
} */

.cards.prom > ul > li > div:nth-child(3) > p:first-child {
  text-align: left;
  font-family: Calibri;
  font-size: 1.5625rem;
  line-height: 1.25;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0 20px;
  width: 260px;
  
}

.cards.prom > ul > li > div:nth-child(3) > p:nth-child(2) {
  text-align: left;
  font-family: Calibri;
  font-size: 1.1rem;
  line-height: 1.25;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0 20px;
  width: 260px;
  
}


.cards.prom > ul > li > div:nth-child(3) > p:nth-child(3) {
  text-align: left;
  font-family: Calibri;
  font-size: 1.0rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: -7.0em;
  margin-left: 18em;
  width: 170px;
  height: 50px;
  }

  .cards.prom > ul > li:nth-child(4) > div:nth-child(3) > p:nth-child(3) {
    text-align: left;
    font-family: Calibri;
    font-size: 1.0rem;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: -5.5em;
    margin-left: 18em;
    }
  

  .cards.prom > ul > li:nth-child(4) > div:nth-child(3) > p:nth-child(4) {
    text-align: left;
    font-family: Calibri;
    font-size: 1.0rem;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: -7.5em;
    margin-right: 1.5em;
    }
  


 .cards.prom > ul > li > div:nth-child(3) > p:nth-child(4) {
  text-align: left;
  margin-top: -9em;
  margin-right: 2em;
} 

 .cards .cards-card-body {
  margin: 25px;
} 


.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
}


.cards.prom {
  margin-left: 100px;
}

.cards.open {
  margin-left: 100px;
}


.cards.hotel {
  margin-left: 100px;
}

.cards.exp {
  margin-left: 100px;
}
/* .cards.open > ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
}
.cards.open > ul > li > div:first-child{
  height: 5em;
  text-align: center;
}

.cards.open > ul > li {
  background-color: var(--background-color);
  
}

.cards.open > ul > li  img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit:cover ;
  
}

.cards.open > ul > li > div:nth-child(3) {
  display: flex;
  text-align: left;
}

.cards.open > ul > li > .cards-card-body   {
  width:100%;
  display: flex;
  margin: 10px;
}

.cards.open > ul > li > .cards-card-body > p  {
  text-align: left;
}

.cards.open > ul > li > .cards-card-body > p:first-child  {
  width: 20em;
  margin:1px
}

.cards.open > ul > li > .cards-card-body > .button-container  {
  width: 20em;
  margin:1px;
  
}

.cards.open > ul > li > div:nth-child(3) > p > a.button:any-link {
  margin-bottom: 0px;
  margin-left: 25px;
  
}


.cards.open > ul > li > .cards-card-body >.button-container > .button.primary  {
  width: 20em;
  font-size: 0.8em;
  height: 2.1875rem !important;
  font-weight:500;
  letter-spacing: 2.5px;
  line-height: 21px;
  float: right;
  padding:  0.575rem 0.5rem;
  padding-bottom: 1rem;
  background-color: #d29751;
  background: linear-gradient(to bottom, rgba(144, 144, 197, 0.99), #4b4b85 49%, #333366);
  height: 0.5rem !important;
  /*background-color: #d29751;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  margin:20px;
  height: 0.5rem !important; 

  
} */




.cards.hotel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 16px;
}

.cards.hotel > ul >li {
  width: 400px;
  height: 645px;
}



.cards.hotel > ul > li > div:nth-child(2){
  background-color: var(--background-color);
  height : 6em;
  z-index: 9;
  margin-top: -6.5em;
  margin-left: 0px;
  opacity: 0.8;
}

.cards.hotel > ul > li > div:nth-child(2) > .cards-card-body{
  background-color: #eee;
  
}

.cards.hotel > ul > li > .cards-card-body{
  background-color: #eee;
  margin-left: 25px;
  margin-top: 300px;
}

.cards.hotel > ul > li > div:nth-child(2) > picture >img{
  width: 35%;
  margin-left: 30%;
  margin-top: 7%;
  object-fit :cover;
  aspect-ratio:auto;
  
}

.cards.hotel > ul > li:first-child > div:nth-child(2) > picture >img{
  width: 25%;
  margin-left: 30%;
  margin-top: 1%;
  object-fit :cover;
  aspect-ratio:auto;
  
}

.cards.hotel > ul > li > div:nth-child(3) > p {
  width: auto;
  margin-right: 1px;
  padding-left: 25px;
  font-family: Calibri;
font-size: 18px;
font-size: 1.125rem;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.28;
letter-spacing: normal;
text-align: left;
color: #585656;
  
}


.cards.hotel > ul > li > div:nth-child(3) > p > a.button:any-link {
  margin-bottom: 0px;
  margin-right: 15px;
  margin-top: 50px;
}

.cards.hotel > ul > li:first-child > div:nth-child(3) > p > a.button:any-link {
  margin-bottom: 0px;
  margin-right: 15px;
  margin-top: 72px;
}



/* .cards.exp > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}  */

.cards.exp > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  width:1300px
} 


/* .cards.exp > ul {
list-style-type: none;
column-count: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
padding: 0;
display: grid;
grid-gap: 70px;

} */



.cards.exp > ul >li {
  width: 390px;
  height: 525px;
  background-color: white;
  box-sizing: border-box;
}



.cards.exp >ul >li:nth-child(n+4){
  display: block;
  height: 565px;
}

.cards.exp > ul > li > div:nth-child(2) {
  display: grid;
  text-align: left;
  margin: 0px;
  padding: 0px;

}

/* .cards.exp > ul > li > div:nth-child(2) > p {
  width: 14em;
  margin-right: 1px;
  padding-left: 25px;
  
} */

.cards.exp > ul > li > div:nth-child(2) > p:first-child {

  font-family: Calibri;
  font-size: 1.5rem;
  line-height: 0.92;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 0.625rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.cards.exp > ul > li > div:nth-child(2) > p:nth-child(2) {

    font-family: Calibri;
    font-size: 1.0rem;
    line-height: 1.25;
    text-align: left;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    height: 10px;width: 200px;
  }




.cards.exp > ul > li > div:nth-child(2) > p:nth-child(3) {
  text-align: left;
  margin-top: -3rem;
  margin-right: 4rem;
  
  
}

.cards.exp > ul > li:nth-child(n+4) > div:nth-child(2) > p:nth-child(3) {
  text-align: left;
  margin-top: -1rem; 
}

.displayNo{
  display: none !important;
}

.displayYes{
  display: block;
}


/*.cards-container > .default-content-wrapper > p > u{
  cursor: pointer;
  color: blue;
  
}

.cards-container > .default-content-wrapper > p > u:hover{
  cursor: pointer;
  color: brown;hlll
  
}*/


.cards.open > ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 40px;
  width: 1220px;
  padding:0px;


} 


.cards.open > ul > li > div:first-child{
  text-align: center;
  width: 20%;
  margin-left: 250px;
  font-family: Calibri;
  font-size: 19px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 1px;
  line-height: 21.4667px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-top: 0px;
  padding-top: 15px;
  }

.cards.open > ul > li {
  background-color: var(--background-color);
  width: 40em;
  
}

.cards.open > ul > li  img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit:cover ;
  
}

.cards.open > ul > li > div:nth-child(3) {
  display:block;
}

 /* .cards.open > ul > li > .cards-card-body   {
  width:100%;
  display: flex;
  margin: 10px;
}  */

.cards.open > ul > li > div:nth-child(3)> p:first-child  {
  padding-left: 15px;
  color:rgb(50, 50, 50);
  font-family: Calibri;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: left;
  width: 13em;
   /* width: 50em; 
  height: 1em;
  padding-top: 10px; */
} 


 .cards.open > ul > li >  div:nth-child(3)> p:nth-child(2) {
 margin: 0;
 padding: 0;
 font-size: 16px;
 color:rgb(50, 50, 50);
 font-family: Calibri;
 line-height: 25px;
 font-weight: 500;
 padding-left:20px;
} 

 /* .cards.open > ul > li > .cards-card-body > .button-container  {
  width: 10em;
  margin:2px;
  }  */

 .cards.open > ul > li > div:nth-child(3) > p > a.button:any-link {
  margin-bottom: 0px;
  margin-top: -5em;
}  

/* .cards.open > ul > li > div:nth-child(3) > p  {
margin: 0;
padding: 0;
margin-bottom: 2em;
  
}  */


.cards.open > ul > li >  div:nth-child(3) >.button-container > .button.primary  {
  /*width: 20em;*/
  font-size: 0.em;
  height: 2.1875rem !important;
  font-weight:300;
  letter-spacing: 2.5px;
  line-height: 20px;
  float: right;
  padding:  0.575rem 0.5rem;
  padding-bottom: 1.1rem;
  background-color: #d29751;
  background: linear-gradient(to bottom, rgba(144, 144, 197, 0.99), #4b4b85 49%, #333366);
  /*background-color: #d29751;*/
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  margin-right:-5em;
  /* margin-top: 180px; */
  height: 0.5rem !important; 
  width: 10em;

  
}




/*slider code */
.cards.prom > ul > li:nth-child(n+4) {
  display:none;
}

