.columns > div {
  display: flex;
  flex-direction: column;
}

.columns .button {
  font-size: 18px;
  position: relative;
  background: #FF9600;
  border-radius: 16px;
  font-family: calibri;
  padding: 6px 5px;
  bottom: 12px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}



.columns > div > div {
  order: 1;
  width: 20%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    /*gap: 32px;*/
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    
  }
}

main .columns-wrapper {
  max-width: 100%
}

.columns p {
  color: white;
}

